
.vs/**
.git/**
obj/**
*.db
*.dll
*.pdb
*.xml
*.exe
Effects/ArmorAntiPolarized.notfx
Items/Dye/Item_1007.png
Items/Dye/Item_1019.png
Items/Dye/Item_1037.png
Items/Dye/Item_1050.png
Items/Dye/Item_3557.png
Items/Dye/SlantBottomHalf.png
Items/Dye/SlantTopHalf.png
shaders.txt
Items/Shroomite_Helm_NoVisor.png
Items/Shroomite_Helm_NoVisor_Head.png
Items/Minishark.png
Items/Thumbs.db
